<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- SpringMVC est un framework de présentation,
pour application WEB, suivant le modèle MVC,
et fondé sur le conteneur léger de SPRING
Dans le cas de SpringMVC le conteneur va servir à créer:
et fondé sur le conteneur léger de SPRING -->


<context:component-scan base-package="org.transport.TP.web"></context:component-scan>
<bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
   <property name="prefix" value = "/WEB-INF/Vues/"/>
   <property name="suffix" value = ".jsp"/>
</bean>

</beans>
